@font-face {
    font-family: WhiteRabbit;
    src: url('../fonts/whitrabt.ttf') format('truetype'),
        url('../fonts/whitrabt.eot') format('embedded-opentype'),
        url('../fonts/whitrabt.otf') format('opentype'),
        url('../fonts/whitrabt.woff') format('woff');
}

body {
    font-family: WhiteRabbit, Helvetica, sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #62487a;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
}

.block-header {
    position: absolute;
    top: -0.70em;
    left: 50%;
    transform: translateX(-50%);
    color: #a3a3a3;
    background-color: #222;
    text-transform: uppercase;
}

.logo {
    position: relative;
    background-color: #62487a;
    margin-bottom: 30px;
    left: 25%;
}

/*Navbar*/
.navbar-inverse {
    border-color: #4c4c4c;
    font-size: 1.3em !important;
}
.navbar-brand {
    font-size: 1.7em !important;
}
.brand-toggle-class {
    color: white;
}
.navbar-brand > .codo {
    color: #dce85c;
}
.navbar-brand > .school {
    color: #5276af;
}

/*Sidebar*/
.back-button {
    display: none;
}
.nav-sidebar {
    position: relative;
    background-color: #1e1e1e;
    font-size: 1.1em;
    min-height: 600px !important;
    border: 4px double #878787;
    opacity: 0.8;
    border-radius: 8px;
}
.menu-header {
    background-color: #1e1e1e;
    font-size: 0.9em !important;
}
.inner-sidebar{
    margin-top: 30px;
}
.nav-sidebar .jqtree-title {
    color: #5bb6f1 !important;
}
.nav-sidebar .jqtree-toggler {
    color: #9d9d9d !important;
}
.nav-sidebar .jqtree-title-folder {
    text-transform: uppercase !important;
    color: #a25cf2 !important;
}
.nav-sidebar > .inner-sidebar > p {
    color: #27a52b;
}
#js-sidebar-text-animation {
    min-height: 50px;
    color: #859900;
} 
.typed-cursor {
    display: none;
}

/*Content*/
.main-content {
    background-color: #62487a !important;
}
.content-header {
    background-color: #333333;
    font-size: 1em !important;
}
.inner-content {
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
    padding-bottom: 80px !important;
    border: 4px double #878787;
    border-radius: 8px;
    background-color: #333333;
    opacity: 0.8;
}

/*Admin panel*/
#admin-tree-table {
    margin-top: 20px;
    background-color: antiquewhite;
    color: #2b2b2b;
}

#admin-tree-table, #admin-tree-table td, #admin-tree-table th {
    border-color: gray;
}
.admin-menu-header {
    background-color: darkgray;
}
.question-button {
    margin-bottom: 20px;
}
#add-question {
    margin-bottom: 20px;
}
.js-delete-answer {
    display: block;
}
.js-add-answer {
    display: block;
    margin-top: 15px;
}
#questions-container {
    position: relative;
    border: 4px double #878787;
    border-radius: 8px;
    background-color: #333333;
    padding: 15px;
    opacity: 0.9;
    margin-bottom: 20px;
}
#questions-container > p {
    color: #859900;
}
.question-textarea {
    min-width: 60%;
}
textarea.form-content{
    min-width: 80%;
}
#sections-table {
    background-color: lightgrey;
    margin-top: 20px;
    color: darkslategrey;
    border-radius: 5px;
}


/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display: inline-block;
    content: "[";
    padding-right: 0.5em;
}

.btn-bracketed::after {
    display: inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
