@model Question

@{

}

<form asp-area="" asp-controller="Home" asp-action="Quiz" method="post" target="_parent">

    <div id="AAA">

    </div>

    @if (Model != null)
    {
        <h1>@Model.Id</h1>
        <input type="hidden" name="ttt" value="@Model.Id" />

    }
     
    <h1>Hello</h1>
    
    
    <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
</form>
