<h3>Welcome to Codo School!</h3>
<p>This web app is developed to provide usefull information about computer science, programming languages, network, program architecture. Here you can find a lot of text and video materials concerning computers and programming. You can also check yourself solving different tasks provided in quizes.</p>
